
    .titulo{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    font-size: 40px;
    text-shadow: #f3a8a8 -3px -1px;
    }

   .borda{
border-radius: 100px;
box-shadow: -2px -3px 40px;
width: 500px;
height:500px ;
position: absolute;
left:435px;
top: 70px;
background-image: url("img/Title\ Page\ \(6\).png");

    }  
    
    .email{
        text-align: center;
    }

    .senha{
text-align: center;
    }
.lembrar{
    text-align: center;
}

.botao{
    text-align: center;
}

.letras{
    width: 500px;
height:400px ;
position: absolute;
top: 110px;
}

.fundo{ 
background-color: #F29999;

  }


